<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SPAdminSiteURL" value="https://akseth-admin.sharepoint.com/" />
    <add key="SPSiteURL" value="https://akseth.sharepoint.com/sites/CSOMCodeSite" />
    <add key="UserName" value="********@TenantName.onmicrosoft.com"/>
    <add key="Password" value="********"/>

    <add key="Path" value="C:\Logs/"/>
    <!--Custom Attribute Name-->
    <add key="SubDepartmentAttribute" value="SubDepartment"/>
    <add key="AnniversaryAttribute" value="AnniversaryDate"/>
    <add key="BirthdayAttribute" value="SPS-Birthday"/>

    <!-- Forest and Administrator credentials -->
    <add key="ForestName" value="TEST.SubDomain"/>
    <add key="LdapPath" value="LDAP://DC=TEST,DC=SubDomain,DC=COM"/>
    <add key="Administrator" value="TEST\******"/>
    <add key="AdminPassword" value="*******"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>