<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SPAdminSiteURL" value="https://TenantName-admin.sharepoint.com/" />
    <add key="SPSiteURL" value="https://TenantName.sharepoint.com/sites/CSOMCodeSite" />
    <add key="UserName" value="xxx@TenantName.onmicrosoft.com"/>
    <add key="Password" value="XXXXXXXXX"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>